biopython/uniprot_sprot.fasta
canu-2.2//ecoli-filtered-0.5.fastq
canu-2.2//ecoli-filtered-0.9.fastq
canu-2.2//ecoli-pacbio/ecoli.seqStore/blobs.0003
canu-2.2//ecoli-pacbio/unitigging/ecoli.ctgStore/partition.0001
canu-2.2//pacbio.fastq
canu-2.2//ecoli-filtered-0.5.fastq
canu-2.2//ecoli-filtered-0.9.fastq
canu-2.2//ecoli-pacbio/ecoli.seqStore/blobs.0003
canu-2.2//ecoli-pacbio/unitigging/ecoli.ctgStore/partition.0001
canu-2.2//pacbio.fastq
canu-2.2//ecoli-filtered-0.5.fastq
canu-2.2//ecoli-filtered-0.9.fastq
canu-2.2//ecoli-pacbio/ecoli.seqStore/blobs.0003
canu-2.2//ecoli-pacbio/unitigging/ecoli.ctgStore/partition.0001
canu-2.2//pacbio.fastq
rna/bowtie2.sam
NGS/gatk-4.3.0.0/gatk-package-4.3.0.0-local.jar
NGS/gatk-4.3.0.0/gatk-package-4.3.0.0-spark.jar
canu-2.2/ecoli-pacbio/ecoli.seqStore/blobs.0003
canu-2.2/ecoli-pacbio/unitigging/ecoli.ctgStore/partition.0001
